.section-meals {
  //padding: 9.6rem;

  .container {
    text-align: center;
    .subheading {
      display: block;
      font-size: 1.6rem;
      font-weight: 600;
      color: $secondary-color;
      text-transform: uppercase;
      margin-bottom: 1.6rem;
      letter-spacing: 0.75px;
    }

    .heading-secondary {
      @include heading-primary();
      font-size: 4.4rem;
      line-height: 1.2;
      margin-bottom: 9.6rem;
    }
  }

  .grid {
    //@include grid-position(9.6rem, 6.4rem);
    align-items: center;
    @include grid-cols(3, 1fr);
    //.margin-bottom-md {
      margin-bottom: 4.8rem !important;
    //}
    .meal {
      box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
      border-radius: 11px;
      overflow: hidden;
      transition: all 0.4s;

      .meal-img {
        width: 100%;
      }

      .meal-content {
        padding: 3.2rem 4.8rem 4.8rem 4.8rem;

        .meal-tag {
          margin-bottom: 1.2rem;
          display: flex;
          gap: 0.4rem;

          .vegan {
            @include category-background-color($vegan-color);
          }

          .paleo {
            @include category-background-color($paleo-color);
          }

          .vegetarian {
            @include category-background-color($vegetarian-color);
          }

          .tag {
            display: inline-block;
            padding: 0.4rem 0.8rem;
            font-size: 1.2rem;
            text-transform: uppercase;
            color: $head-color;
            border-radius: 100px;
            font-weight: 600;
          }
        }

        .meal-title {
          font-size: 2.4rem;
          color: $head-color;
          font-weight: 600;
          margin-bottom: 3.2rem;
        }

        .meal-attributes {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          .meal-attribute {
            font-size: 1.8rem;
            @include flex-position(left,center);
            gap: 1.6rem;

            .meal-icon {
              height: 2.4rem;
              width: 3.4rem;
              color: $primary-color;
            }
          }
        }
      }
      &:hover{
        transform: translateY(-1rem);
        box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
      }
    }

    .diets {
      .heading-tertiary {
        @include heading-primary();
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 3.2rem;
        text-align: left;
      }

    }
  }
  .all-recipes{
    text-align: center;
    font-size: 1.8rem;
  }
}
