//85 * 16
//bellow 1344px (smaller desktops)
@media (max-width: 84em) {
  .section-hero {
    .hero {
      max-width: 120rem;

      .hero-text-box {
        .heading-primary {
          font-size: 4.4rem;
        }
      }
    }
  }
  .section-pricing {
    .grid-pricing {
      width: 75%;
    }
  }
}

//1200px / 16px = 75em
// bellow 1200px (landscape tablets)
@media (max-width: 75em) {
  html {
    // 9px / 16px
    font-size: 56.25%;

    .header {
      padding: 0 3.2rem;

      .main-nav-list {
        gap: 3.2rem;
      }
    }

    .section-pricing {
      padding: 1rem;
    }

    .section-hero {
      .hero {
        gap: 4.8rem;
      }
    }

    .heading-secondary {
      font-size: 3.6rem;
    }

    .heading-tertiary {
      font-size: 2.4rem;
    }

    .grid {
      row-gap: 6.4rem;
      column-gap: 4.8rem;
    }

    .section-pricing {
      .grid-pricing {
        width: 80%;
      }
    }
  }

}

//944px / 16px = 59em
// bellow 944px (Tablets)
@media (max-width: 59em) {
  html {
    // 8px / 16px
    font-size: 50%;

    .section-hero {
      .hero {
        @include grid-cols(1, 1fr);
        padding: 0 8rem !important;
        gap: 6.4rem;

        .hero-text-box {
          text-align: center;

          .delivered-meals {
            justify-content: center;
            margin-top: 3.2rem;
          }
        }

        .header-image-box {
          text-align: center;

          .header-image {
            width: 60%;
          }
        }
      }
    }

    .section-featured {
      .container {
        .logos {
          img {
            height: 2.4rem;
          }
        }
      }
    }

    .section-how {
      .grid {
        .step-text-box {
          .step-number {
            font-size: 7.4rem;
          }
        }
      }
    }

    .section-meals {
      .grid {
        .meal {
          .meal-content {
            padding: 2.4rem 3.2rem 3.2rem 3.2rem;
          }
        }
      }

    }

    .header {
      .main-nav {
        //display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.97);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        @include flex-position(center, center);
        transform: translateX(100%);
        //Allows to transitions al all
        //display: none;

        //1. to hide element visually
        opacity: 0;

        //2. to make element inaccessible to mouse and keyboard
        pointer-events: none;

        //3. to hide element from screen readers
        visibility: hidden;

        transition: all 0.5s ease-in;

        .main-nav-list {
          flex-direction: column;
          gap: 4.8rem;

          li {
            .main-nav-link {
              &:link, &:visited {
                font-size: 3rem;
              }
            }
          }

        }
      }

      .btn-mobile-nav {
        display: block;
        z-index: 1000;
        .icon-close {
          display: none;
        }

      }
    }

    .nav-open {
      .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);

      }

      .btn-mobile-nav {
        .icon-close {
          display: block;
        }

        .icon-menu {
          display: none;
        }
      }

    }
  }
}

//774px / 16px = 49em
// bellow 774px (smaller Tablets)
@media (max-width: 49em) {
  html {
    .section-how {
      .container {
        .heading-secondary {
          margin-bottom: 4.8rem !important;
        }
      }
    }


    .section-meals {
      .grid {
        @include grid-cols(2, 1fr);

        .diets {
          grid-column: 1 /-1;
          justify-self: center;
        }
      }
    }

    .section-pricing {
      .grid-pricing {
        width: 100%;
      }
    }

    .section-pricing {
      .grid-feature {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .footer {
      .grid {
        grid-template-columns: repeat(6, 1fr);

        .logo-col {
          grid-column: span 3;
        }

        .address-col {
          grid-column: span 3;
        }

        .nav-col {
          grid-row: 1;
          grid-column: span 2;
          margin-bottom: 3.2rem;
        }
      }
    }
  }
}

//648px / 16px = 41em
// bellow 648px (Phones)
@media (max-width: 41em) {

  html {
    .grid {
      row-gap: 4.8rem;
    }

    .section-how {
      .grid {
        @include grid-cols(1, 1fr);
      }
    }

    .section-meals {
      .grid {
        @include grid-cols(1, 1fr);
      }
    }

    .section-pricing {
      .grid-pricing {
        grid-template-columns: repeat(1, 1fr);
      }

      .grid-feature {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .section-hero {
      padding: 2.4rem 0 4.8rem 0;

      .hero {
        padding: 0 3.2rem !important;

        .header-image-box {
          .header-image {
            width: 80%;
          }
        }

      }
    }

    .section-featured {
      .container {
        .logos {
          img {
            height: 1.2rem;
          }
        }
      }
    }

    .section-how {
      .container {
        .heading-secondary {
          font-size: 3.6rem;
        }

        .step-text-box {
          .step-number {
            font-size: 6.2rem;
          }
        }
      }

      .grid {
        .step-image-box {
          transform: translateY(24px);
        }

        .step-image-box:nth-child(2) {
          grid-row: 1;
        }

        .step-image-box:nth-child(6) {
          grid-row: 5;
        }
      }
    }

    .section-meals{
      .container{
        .heading-secondary{
          font-size: 3.6rem;
        }
      }
    }

    .btn {
      &:link, &:visited {
        padding: 1.5rem 1.6rem;
      }
    }

  }
}