
/* -------------------------- */
/* font variables */
/* -------------------------- */


$font-path: '../../assets/fonts';
$font-family: 'Rubik';
$font-weight: 400;
$font-style: normal;
$line-height : 1;
$main-color : #555;
$head-color : #333;
$primary-color:#e67e22;
$secondary-color:#cf711f;
$paleo-color:#ffd43b;
$vegan-color:#94d82d;
$vegetarian-color:#51cf66;
$white-color:#fff;
$light-gray-color:#ddd;
$header-background-color :#fdf2e9;
$orange-light-color :#fae5d3;
//font-size: 10px
// 10px / 16px = 0.525 = 62.5%
// percentage of user's browser font-size setting
// 16 * 0.625 = 10
$font-size : 62.5%
