
/* -------------------------- */
/* font variables */
/* -------------------------- */


$font-path: '../../assets/fonts';
$font-family: 'Rubik';
$font-weight: 400;
$font-style: normal;
$line-height : 1;
$main-color : #555;
$head-color : #333;
$primary-color:#e67e22;
$secondary-color:#cf711f;
$white-color:#fff;
$header-background-color :#fdf2e9;
//font-size: 10px
// percentage of user's browser font-size setting
// 16 * 0.625 = 10
$font-size : 62.5%
