/* -------------------------- */
/* font variables */
/* -------------------------- */
/*
--- 01 Typography System
- Spacing System (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 /96 / 128

- Font Weights:
Default : 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line Heights:
Default : 1
Small: 1.05
Medium:1.2
Paragraph-default: 1.6
large :1.8

-Letter Spacing:
0.5px
0.75px

- Font size System:
10 / 12 / 14 /  16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 /86 / 98


--- 02 Colors
- Primary : #e67e22
- Tints:
 #fdf2e9
 #fae5d3
- Shades: #cf711f
- Accents:
- Greys:
#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333


--- 03 Shadows
--- 04 Border-Radius
- Default: 9px
- Medium: 11px

--- 05 WhiteSpace
- Spacing System (px) :
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 /96 / 128
 */
@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}
html body a {
  text-decoration: none;
}
html body ol, html body ul, html body ol {
  list-style: none;
}
html body .container, html body .section-hero .hero, .section-hero html body .hero {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
html body .grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
html body .btn:link, html body .btn--outline:link, html body .btn--full:link, html body .btn:visited, html body .btn--outline:visited, html body .btn--full:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-size: 2rem;
  font-weight: 600;
  transition: all 0.3s linear;
}
html body .link:link,
html body .link:visited {
  display: inline-block;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
html body .link:link:hover, html body .link:link:active,
html body .link:visited:hover,
html body .link:visited:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
html body .list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
html body .list .list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}
html body .list .list-item .list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
html body .margin-right-sm, html body .btn--full {
  margin-right: 1.6rem;
}
html body .btn--full {
  background-color: #e67e22;
  color: #fff;
}
html body .btn--full:hover, html body .btn--full:active {
  background-color: #cf711f;
}
html body .btn--outline {
  background-color: #fff;
  color: #555;
}
html body .btn--outline:hover, html body .btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}
html body .grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
html body .margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
html body .logo {
  height: 8.2rem;
}
html body .footer-link:link,
html body .footer-link:visited {
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
html body .footer-link:link:hover, html body .footer-link:link:active,
html body .footer-link:visited:hover,
html body .footer-link:visited:active {
  color: #555;
}
html body .footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.section-hero .hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  max-width: 130rem;
  padding: 0 3.2rem;
  gap: 9.6rem;
}
.section-hero .hero .hero-text-box .heading-primary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.section-hero .hero .hero-text-box .hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.section-hero .hero .hero-text-box .delivered-meals {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 8rem;
  gap: 1.6rem;
}
.section-hero .hero .hero-text-box .delivered-meals .delivered-imgs {
  display: flex;
}
.section-hero .hero .hero-text-box .delivered-meals .delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.section-hero .hero .hero-text-box .delivered-meals .delivered-imgs img:last-child {
  margin: 0;
}
.section-hero .hero .hero-text-box .delivered-meals .delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.section-hero .hero .hero-text-box .delivered-meals .delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
.section-hero .hero .header-image-box .header-image {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}
.header .main-nav-list {
  display: flex;
  gap: 4.8rem;
  align-items: center;
}
.header .main-nav-list li .main-nav-link:link, .header .main-nav-list li .main-nav-link:visited {
  display: inline-block;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.header .main-nav-list li .main-nav-link:link:hover, .header .main-nav-list li .main-nav-link:link:active, .header .main-nav-list li .main-nav-link:visited:hover, .header .main-nav-list li .main-nav-link:visited:active {
  color: #cf711f;
}
.header .main-nav-list li:last-child .main-nav-link {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff !important;
  background-color: #e67e22;
  transition: background-color 0.3s;
}
.header .main-nav-list li:last-child .main-nav-link:hover, .header .main-nav-list li:last-child .main-nav-link:active {
  background-color: #cf711f;
}
.header .btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.header .btn-mobile-nav .icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.header .btn-mobile-nav .icon-close {
  display: none;
}

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.section-featured .container .heading-featured-in, .section-featured .section-hero .hero .heading-featured-in, .section-hero .section-featured .hero .heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}
.section-featured .container .logos, .section-featured .section-hero .hero .logos, .section-hero .section-featured .hero .logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section-featured .container .logos img, .section-featured .section-hero .hero .logos img, .section-hero .section-featured .hero .logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

.section-how {
  padding: 9.6rem 0;
}
.section-how .container .subheading, .section-how .section-hero .hero .subheading, .section-hero .section-how .hero .subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.section-how .container .heading-secondary, .section-how .section-hero .hero .heading-secondary, .section-hero .section-how .hero .heading-secondary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.section-how .grid {
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.section-how .grid .step-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section-how .grid .step-image-box .step-img {
  width: 35%;
}
.section-how .grid .step-image-box::before {
  content: "";
  display: block;
  width: 60%;
  padding-bottom: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fdf2e9;
  z-index: -2;
}
.section-how .grid .step-image-box::after {
  content: "";
  display: block;
  width: 45%;
  padding-bottom: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fae5d3;
  z-index: -1;
}
.section-how .grid .step-text-box .step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.section-how .grid .step-text-box .heading-tertiary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.section-how .grid .step-text-box .step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.section-meals .container, .section-meals .section-hero .hero, .section-hero .section-meals .hero {
  text-align: center;
}
.section-meals .container .subheading, .section-meals .section-hero .hero .subheading, .section-hero .section-meals .hero .subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.section-meals .container .heading-secondary, .section-meals .section-hero .hero .heading-secondary, .section-hero .section-meals .hero .heading-secondary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.section-meals .grid {
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4.8rem !important;
}
.section-meals .grid .meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.section-meals .grid .meal .meal-img {
  width: 100%;
}
.section-meals .grid .meal .meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.section-meals .grid .meal .meal-content .meal-tag {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.section-meals .grid .meal .meal-content .meal-tag .vegan {
  background-color: #94d82d;
}
.section-meals .grid .meal .meal-content .meal-tag .paleo {
  background-color: #ffd43b;
}
.section-meals .grid .meal .meal-content .meal-tag .vegetarian {
  background-color: #51cf66;
}
.section-meals .grid .meal .meal-content .meal-tag .tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.section-meals .grid .meal .meal-content .meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.section-meals .grid .meal .meal-content .meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-meals .grid .meal .meal-content .meal-attributes .meal-attribute {
  font-size: 1.8rem;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.6rem;
}
.section-meals .grid .meal .meal-content .meal-attributes .meal-attribute .meal-icon {
  height: 2.4rem;
  width: 3.4rem;
  color: #e67e22;
}
.section-meals .grid .meal:hover {
  transform: translateY(-1rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.section-meals .grid .diets .heading-tertiary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  text-align: left;
}
.section-meals .all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

.section-pricing {
  padding: 9.6rem;
}
.section-pricing .container .subheading, .section-pricing .section-hero .hero .subheading, .section-hero .section-pricing .hero .subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.section-pricing .container .heading-secondary, .section-pricing .section-hero .hero .heading-secondary, .section-hero .section-pricing .hero .heading-secondary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.section-pricing .grid-pricing {
  grid-template-columns: repeat(2, 1fr);
  width: 58%;
}
.section-pricing .grid-pricing .pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}
.section-pricing .grid-pricing .pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ffd43b;
  color: #333;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}
.section-pricing .grid-pricing .pricing-plan--starter {
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}
.section-pricing .grid-pricing .pricing-plan {
  border-radius: 11px;
}
.section-pricing .grid-pricing .pricing-plan .plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.section-pricing .grid-pricing .pricing-plan .plan-header .plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
}
.section-pricing .grid-pricing .pricing-plan .plan-header .plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.section-pricing .grid-pricing .pricing-plan .plan-header .plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.section-pricing .grid-pricing .pricing-plan .plan-header .plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 600;
  color: #6f6f6f;
}
.section-pricing .grid-pricing .pricing-plan .plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}
.section-pricing .grid-details {
  grid-template-columns: repeat(1, 1fr);
}
.section-pricing .grid-details .plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}
.section-pricing .grid-feature {
  grid-template-columns: repeat(4, 1fr);
}
.section-pricing .grid-feature .feature .feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}
.section-pricing .grid-feature .feature .feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.section-pricing .grid-feature .feature .feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.footer .grid {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.footer .grid .logo-col {
  display: flex;
  flex-direction: column;
}
.footer .grid .logo-col .footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.footer .grid .logo-col .footer-logo img {
  height: 6.2rem !important;
}
.footer .grid .logo-col .social-links {
  display: flex;
  gap: 2.4rem;
}
.footer .grid .logo-col .social-links li .footer-link .social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.footer .grid .logo-col .copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}
.footer .grid .address-col .contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.footer .grid .address-col .contacts .address {
  margin-bottom: 2.4rem;
}
.footer .grid .nav-col .footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

@media (max-width: 84em) {
  .section-hero .hero {
    max-width: 120rem;
  }
  .section-hero .hero .hero-text-box .heading-primary {
    font-size: 4.4rem;
  }
  .section-pricing .grid-pricing {
    width: 75%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  html .header {
    padding: 0 3.2rem;
  }
  html .header .main-nav-list {
    gap: 3.2rem;
  }
  html .section-pricing {
    padding: 1rem;
  }
  html .section-hero .hero {
    gap: 4.8rem;
  }
  html .heading-secondary {
    font-size: 3.6rem;
  }
  html .heading-tertiary {
    font-size: 2.4rem;
  }
  html .grid {
    row-gap: 6.4rem;
    column-gap: 4.8rem;
  }
  html .section-pricing .grid-pricing {
    width: 80%;
  }
}
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  html .section-hero .hero {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 8rem !important;
    gap: 6.4rem;
  }
  html .section-hero .hero .hero-text-box {
    text-align: center;
  }
  html .section-hero .hero .hero-text-box .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }
  html .section-hero .hero .header-image-box {
    text-align: center;
  }
  html .section-hero .hero .header-image-box .header-image {
    width: 60%;
  }
  html .section-featured .container .logos img, html .section-featured .section-hero .hero .logos img, .section-hero html .section-featured .hero .logos img {
    height: 2.4rem;
  }
  html .section-how .grid .step-text-box .step-number {
    font-size: 7.4rem;
  }
  html .section-meals .grid .meal .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
  html .header .main-nav {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.97);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s ease-in;
  }
  html .header .main-nav .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  html .header .main-nav .main-nav-list li .main-nav-link:link, html .header .main-nav .main-nav-list li .main-nav-link:visited {
    font-size: 3rem;
  }
  html .header .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }
  html .header .btn-mobile-nav .icon-close {
    display: none;
  }
  html .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  html .nav-open .btn-mobile-nav .icon-close {
    display: block;
  }
  html .nav-open .btn-mobile-nav .icon-menu {
    display: none;
  }
}
@media (max-width: 49em) {
  html .section-how .container .heading-secondary, html .section-how .section-hero .hero .heading-secondary, .section-hero html .section-how .hero .heading-secondary {
    margin-bottom: 4.8rem !important;
  }
  html .section-meals .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  html .section-meals .grid .diets {
    grid-column: 1/-1;
    justify-self: center;
  }
  html .section-pricing .grid-pricing {
    width: 100%;
  }
  html .section-pricing .grid-feature {
    grid-template-columns: repeat(2, 1fr);
  }
  html .footer .grid {
    grid-template-columns: repeat(6, 1fr);
  }
  html .footer .grid .logo-col {
    grid-column: span 3;
  }
  html .footer .grid .address-col {
    grid-column: span 3;
  }
  html .footer .grid .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}
@media (max-width: 41em) {
  html .grid {
    row-gap: 4.8rem;
  }
  html .section-how .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  html .section-meals .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  html .section-pricing .grid-pricing {
    grid-template-columns: repeat(1, 1fr);
  }
  html .section-pricing .grid-feature {
    grid-template-columns: repeat(1, 1fr);
  }
  html .section-hero {
    padding: 2.4rem 0 4.8rem 0;
  }
  html .section-hero .hero {
    padding: 0 3.2rem !important;
  }
  html .section-hero .hero .header-image-box .header-image {
    width: 80%;
  }
  html .section-featured .container .logos img, html .section-featured .section-hero .hero .logos img, .section-hero html .section-featured .hero .logos img {
    height: 1.2rem;
  }
  html .section-how .container .heading-secondary, html .section-how .section-hero .hero .heading-secondary, .section-hero html .section-how .hero .heading-secondary {
    font-size: 3.6rem;
  }
  html .section-how .container .step-text-box .step-number, html .section-how .section-hero .hero .step-text-box .step-number, .section-hero html .section-how .hero .step-text-box .step-number {
    font-size: 6.2rem;
  }
  html .section-how .grid .step-image-box {
    transform: translateY(24px);
  }
  html .section-how .grid .step-image-box:nth-child(2) {
    grid-row: 1;
  }
  html .section-how .grid .step-image-box:nth-child(6) {
    grid-row: 5;
  }
  html .section-meals .container .heading-secondary, html .section-meals .section-hero .hero .heading-secondary, .section-hero html .section-meals .hero .heading-secondary {
    font-size: 3.6rem;
  }
  html .btn:link, html body .btn--full:link, html body .btn--outline:link, html .btn:visited, html body .btn--full:visited, html body .btn--outline:visited {
    padding: 1.5rem 1.6rem;
  }
}

/*# sourceMappingURL=Style.css.map */
